.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  margin: 50px auto;
  gap: 15px;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: red;
  margin: auto;
}


.card {
  background-color: #F2F2F2;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.card form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card label {
  margin-bottom: 10px;
}

.card input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.card button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.card #start-btn {
  background-color: #000;
  color: #fff;
}

.card #rstBtn {
  background-color: #ccc;
  color: #000;
}

.card #winner {
  margin-top: 20px;
  font-size: 20px;
}